*::before, *::after{
        box-sizing: border-box;
    }
    /* body{width: 300px;} */
    #navigation{
        /* display: none; */
        background-color: #f7f7f7;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        width: 40px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
    #navigation li{
        position: relative;
    }
    #navigation li a {
        color: #212121;
        display: block;
        text-align: center;
        transition: background 0.15s linear 0s, color 0.15s linear 0s;
    }
    #navigation > li > a {
        min-height: 20px;
        font-size: 16px;
        padding: 12px 0;
    }

    #navigation > li.active > a, #navigation > li.active > a:hover, #navigation > li.active > a:focus {
        background-color: #357ae8;
        color: #fff;
    }
    #content{
        margin-left: 40px;
        padding: 10px;
    }
    #add_new_block{display: none;}
    .form-group{
        padding: 6px 0;
    }

    .item_list{
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .item_list > li{
        padding: 2px 0;
        background: #fff;
        border-bottom: 1px solid #e3e3e3;
        cursor: pointer;
    }   
    .item_list > li img{
        width: 100%;
        height: auto;
        margin-right: 5px;
        max-width: 60px;
        max-height: 60px;
    }
    .item_list > li .actions{
        text-align: center;
        width: 30px;
        opacity: 0.3;
    }
    .item_list > li .image{
        text-align: center;
        vertical-align: middle;
        width: 65px;
        height: 60px;
        overflow: hidden;
    }
    .item_list > li .image i{
        font-size: 26px;
        color: #ccc;
    }

    .item_list > li .title{
        color: #444;
        font-weight: 500;
        font-size: 14px;        
    }
    .item_list > li .dtb{
        width: 100%;
    }
    .item_list > li .dtc{
        vertical-align: middle;
    }
    .item_list > li .desc{
        display: none;
    }

    .item_list > li:hover{
        background: #eef6ff;
    }
    .item_list > li:hover .actions{
        opacity: 1;
    }
    .item_list > li .actions > div{
        position: relative; 
        width: 20px;
        height: 23px;
        overflow: hidden;
    }
    .docs-homescreen-img{
        height: 328px;
        position: absolute;
        width: 202px;
        left: -46px;
        top: -24px;
    }
    .docs-homescreen-img:after{
        content: url(//ssl.gstatic.com/docs/common/h_sprite15.svg);
    }

    .clearfix::after,
    .clearfix::before{
        content: " ";
        display: table;
    }
    .cleaboth{
        height: 1px;
        width: 100%;
        clear: both;
    }
    .floatleft{float: left;}
    .floatright{float: right;}
    .dtb{
        display: table;
    }
    .dtr{
        display: table-row;
    }
    .dtc{
        display: table-cell;
    }
    hr{border-color: #ddd;}